<% provide(:title, 'Free Matrimonial Site for Indians') %>
<%= render partial: 'shared/main_nav' %>
<div class="container mt-3">
  <div class="row">
    <div class="col col-lg-8 text-center">
      <h1 class="h3">Spouzz lets you find your partner for free.</h1>
      <p class="essay text-muted">
        Never pay to contact members again. Send and receive <strong style="color:#000">unlimited</strong> interests and messages for <strong style="color:#000">free</strong>. <strong style="color:#000">Forever</strong>. Signing up takes only a minute.
      </p>
      <div>
        <p class="hidden-lg-up">
          <%= link_to('Sign up for free', signup_path, class: 'btn btn-outline-primary') %>
        </p>
        <p class="hidden-lg-up">
          or <%= link_to('Sign in', login_path, data: { toggle: 'modal', target: '#login-modal' }) %>
        </p>
      </div>
      <p>
        <%= image_tag('watermarked.png', id: 'landing-illustration') %>
      </p>
    </div>
    <div class="col-lg-4 hidden-md-down" id="homepage-signup-form">
      <h2 class="h4 mb-3 text-muted text-center">Get started</h2>
      <%= render partial: 'users/signup_form' %>
    </div>
  </div>
</div>

<div class="container">
<hr>
</div>

<div class="jumbotron mb-0 text-center text-sm-left" style="background-color: #fff">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-3 text-center">
        <h2>Send a like</h2>
        <%= image_tag 'heart.svg', class: 'img-fluid', width: 120 %>
      </div>
      <div class="col-sm-6 essay">
        <p><strong><u>Like</u></strong> a profile to let someone know that you're interested. We'll let you know when they like you back.</p>
        <p>Want to create a shortlist? <strong><u>Favorite</u></strong> profiles to quickly access them when you're ready.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
<hr>
</div>

<div class="jumbotron mb-0 text-center text-sm-left" style="background-color: #fff">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-3 text-center">
        <h2>Unlimited messages</h2>
        <%= image_tag 'chat.svg', class: 'img-fluid', width: 120 %>
      </div>
      <div class="col-sm-6 essay">
        <p>Starting a conversation is as easy as clicking a button.</p>
        <p>Send and receive <strong><u>unlimited</u></strong> messages to get to know people you're interested in. We won't charge you a dime - we promise.</p>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-primary mb-0">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-sm-9 essay" style="color: #fff !important">
        <h2>Join now</h2>
        <p>It's totally free and signing up takes only a minute.</p>
        <%= link_to "Get started", signup_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

<!-- yup -->
