<% provide(:title, 'Free Matrimonial Site for Indians') %>
<%= render partial: 'shared/main_nav' %>
<div class="container mt-3">
  <div class="row">
    <div class="col col-lg-8 text-center">
      <h1 class="h2">Matrimony made easy.</h1>
      <p class="lead">
        Send and receive <strong>unlimited</strong> interests and messages for <strong>free</strong>. <strong>Forever</strong>.
      </p>
      <div>
        <p class="hidden-lg-up">
          <%= link_to('Sign up for free', signup_path, class: 'btn btn-outline-primary') %>
        </p>
        <p class="hidden-lg-up">
          or <%= link_to('Sign in', login_path, data: { toggle: 'modal', target: '#login-modal' }) %>
        </p>
      </div>
      <p>
        <%= image_tag('watermarked.png', id: 'landing-illustration') %>
      </p>
    </div>
    <div class="col-lg-4 hidden-md-down">
      <h2 class="h4 mb-3 text-muted text-center">Sign up for free</h2>
      <%= render partial: 'users/signup_form' %>
    </div>
  </div>
</div>
