<%=link_to conversation_path(message.conversation_id), { class: 'card message-card mb-3' } do %>
<div class="card-body">
  <div class="media">
    <div>
      <%= image_tag(display_picture_for(user), { class: 'rounded-circle mr-3', width: 80 })%>
    </div>
    <div class="media-body">
      <p class="media-heading username h5"><%= user.username %></p>
      <span class="text-muted">
        <%= truncate message.body %>
      </span><br>
      <% unless message.read? %>
        <span class="badge badge-danger">unread</span>
      <% end %>
      <small class="text-muted"><%= time_ago_in_words(message.created_at) %> ago</small>
    </div>
  </div>
</div>
<% end %>
