<% provide(:title, 'Reset password') %>

<section class="container">
  <%= render partial: 'shared/gray_nav' %>

  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-7">
      <div class="card p-lg-3 mb-3">
        <div class="card-body">
          <% if @user.nil? %>
            <div class="text-center">
              <h1 class="h2 mb-2">Hmmm...</h1>
              <p class="card-text">We couldn't find your account or your link has expired.</p>
              <%= link_to 'Try again', forgot_password_path %>
            </div>
          <% else %>
            <div class="mb-5 text-center">
              <h1 class="h2 mb-2">Create a new password</h1>
              <p>Create a new password for <strong><%= @user.email %></strong></p>
            </div>

            <div class="row no-gutters justify-content-center">
              <div class="col-lg-8">
                <% if @user.errors.any? %>
                  <div class="alert alert-danger">
                    <ul class="mb-0">
                    <% @user.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                <%= form_for(@user, url: reset_password_path(reset_token: @user.reset_token)) do |f| %>
                  <div class="form-group">
                    <%= f.label :password, 'Enter new password', class: 'col-form-label' %>
                    <%= f.password_field :password, { class: 'form-control', pattern: ".{6,}", placeholder:'6 or more characters', title: 'Password needs to be at least 6 characters', required: true } %>
                  </div>
                  <div class="form-group">
                    <%= f.label :password_confirmation, 'Re-type password', class: 'col-form-label' %>
                    <%= f.password_field :password_confirmation, { class: 'form-control', pattern: ".{6,}", title: 'Password needs to be at least 6 characters', required: true } %>
                  </div>
                  <div class="form-group text-center">
                    <%= f.submit 'Reset your password', class: 'btn btn-primary', data: { disable_with: 'Hang tight…' } %>
                  </div>
                <% end %>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
