<% provide(:title, 'Reset password') %>

<section class="container">
  <div class="row">

      <div class="col-12 col-sm-8 offset-sm-2 m-t-2">
        <%= link_to root_path, class: 'd-block text-center' do %>
          <%= image_tag 'logo.svg', width: 48 %>
        <% end %>
        <% if @user.nil? %>
          <h1 class="h2 text-center m-y-1">Oops</h1>
          <p class="text-center">
            We couldn't find your account.
          </p>
          <%= link_to 'Try again', forgot_password_path, class: 'btn btn-lg btn-primary btn-block' %>
        <% else %>
          <h1 class="h2 text-center m-y-1">Create a new password</h1>
          <p class="text-center">
            Create a new password for <strong><%= @user.email %></strong>
          </p>
          <% if @user.errors.any? %>
            <div class="alert alert-danger">
              <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <%= form_for(@user, url: reset_password_path(reset_token: @user.reset_token)) do |f| %>
            <div class="form-group">
              <%= f.label :password, 'Enter new password', class: 'col-form-label' %>
              <%= f.password_field :password, { class: 'form-control', pattern: ".{6,}", placeholder:'Password needs to be at least 6 characters', title: 'Password needs to be at least 6 characters', required: true } %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, 'Re-type password', class: 'col-form-label' %>
              <%= f.password_field :password_confirmation, { class: 'form-control', pattern: ".{6,}", title: 'Password needs to be at least 6 characters', required: true } %>
            </div>
            <div class="form-group">
              <%= f.submit 'Reset your password', class: 'btn btn-primary btn-block', data: { disable_with: 'Hang tight…' } %>
            </div>
          <% end %>
        <% end %>
      </div>


  </div>
</section>
