<%= content_tag :div, class: 'media' do %>
  <div class="media-left">
    <%= link_to user_path(current_user) do %>
      <%= image_tag(current_user.display_picture_for(current_user, :small_thumb), { class: 'img-circle', width: 70 })%>
    <% end %>
  </div>
  <div class="media-body">
      <%= form_for([@conversation.other_participant(current_user), Message.new], { remote: true, data: { form_type: 'conversation-form', user: { id: current_user.id, photo: current_user.display_picture_for(current_user, :small_thumb) } } }) do |f| %>
        <div class="form-group">
          <%= f.text_area :body, { rows: 7, maxlength: 1000, class: 'form-control', placeholder: 'Say something', required: true } %>
        </div>
        <div class="form-group text-xs-right">
          <button type="submit" class="btn btn-primary" data-disable-with="Sending…" ><i class="fa fa-reply"></i> Reply</button>
        </div>
      <% end %>
  </div>
<% end %>
