<%
  recipient = @conversation.other_participant(current_user)
%>
<% provide(:title, "Chat with #{recipient.username}") %>
<%= render partial: 'shared/main_nav' %>

<nav class="bg-primary primary-breadcrumb-container">
  <div class="container">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><%= link_to 'My profile', current_user %></li>
      <li class="breadcrumb-item"><%= link_to 'Messages', messages_path %></li>
      <li class="breadcrumb-item active">Chat</li>
    </ol>
  </div>
</nav>

<section class="container">
  <div class="row justify-content-center">
    <div class="col col-md-8">
      <div class="card bg-white my-5">
        <div class="card-header bg-white">
          <div class="media align-items-center">
            <%= image_tag display_picture_for(recipient, current_user), { class: 'rounded-circle img-fluid align-self-center mr-3', style: "width: 4rem;" } %>
            <div class="media-body">
              <div class="d-flex justify-content-between align-items-center">
                  <h5 class="mb-0"><%= recipient.username %></h5>
                </div>
              </div>
            </div>
        </div>
        <div class="card-body" id="chat-messages">
          <% @messages.each do |message| %>
            <% if message.sender.eql?(current_user) %>
              <%= render partial: 'sent_message', locals: { message: message } %>
            <% else %>
              <%= render partial: 'received_message', locals: { message: message } %>
            <% end %>
          <% end %>
        </div>
        <div class="card-footer">
          <%= render partial: 'message_form' %>
        </div>
      </div>
    </div>
  </div>
</section>
