<% provide(:title, "Crop your face") %>

<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.3.3/cropper.min.css" rel="stylesheet">
<style>

#preview-crop {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.cropper-point {
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.cropper-line {
  background-color: #fff;
}
</style>
<nav class="navbar navbar-light bg-faded">
  <span class="navbar-text text-center font-weight-bold lead">Drag the square over your face</span>
</nav>

<section class="container my-5">
  <div class="row">
    <div class="col-sm-8">
      <div>
        <%= image_tag Shrine.storages[:cache].object(params[:cached_object_key]).public_url, class: 'img-fluid', style:'max-height: 500px', id: 'crop-image' %>
      </div>
    </div>
    <div class="col-sm-4 d-flex align-items-center justify-content-center flex-column">
      <div>
        <div id="preview-crop">
        </div>
      </div>
      <%= form_for Avatar.new, url: avatar_path do |f| %>
        <div class="form-group">
          <%= hidden_field_tag :cached_object_key, params[:cached_object_key] %>
          <%= f.hidden_field :image %>
        </div>
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      <% end %>
      </form>
    </div>
  </div>
</section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.3.3/cropper.min.js"></script>
<script type="text/javascript">
  var cropImage = document.getElementById('crop-image');
  var $cropForm = $('#new_avatar');
  var cropper = new Cropper(cropImage, {
    viewMode: 1,
    aspectRatio: 1,
    guides: false,
    movable: false,
    scalable: false,
    preview: '#preview-crop',
    background: false,
    crop: function (event) {
      var fileData = JSON.stringify({
        storage: 'cache',
        id: $cropForm.find('#cached_object_key').val(),
        cropInfo: {
          x: event.detail.x,
          y: event.detail.y,
          width: event.detail.width
        }
      });
      $cropForm.find('#avatar_image').val(fileData);
    }
  });
</script>
