<div class="jumbotron jumbotron-fluid bg-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">

        <div class="media d-flex align-items-center">
          <div class="mr-3 mr-md-5">
          <%= image_tag display_picture_for(@user), { class: 'rounded-circle img-fluid align-self-center', data: { toggle: 'avatar-photo' } } %>
          <% if @user.eql?(current_user) %>
            <br>
            <%= link_to 'javascript:void(0);', class: 'btn btn-link btn-sm d-flex justify-content-center', data: { toggle: 'avatar-uploader' } do %>
              <% if @user.avatar.nil? %>
                <i class="icon ion-plus-round mr-1"></i> Add profile photo
              <% elsif @user.avatar.image_attacher.cached? %>
                <span data-toggle="avatar-loader"><i class="icon ion-load-b mr-1 animate-spin"></i> Cropping photo&hellip;</span>
              <% else %>
                <i class="icon ion-edit mr-1"></i> Change photo
              <% end %>
            <% end %>
          <% end %>
          </div>
          <div class="media-body">
            <h1 class="mt-0 h2"><%= @user.username %></h1>
            <p class="text-secondary">
            <strong><%= @user.age %></strong> year-old <%= @user.gender_expanded %>,
            <strong><%= metric_height(@user.height) %></strong> tall, <strong class="font-weight-bold"><%= @user.religion.humanize %></strong>
            <% if @user.sect_long_form.present? %>
            (<%= @user.sect_long_form %>)
            <% end %>
            <br>
            <strong><%= @user.status.humanize %></strong>,
             Lives in
            <%= @user.country_name.downcase.starts_with?('united') ? 'the': '' %>
            <strong><%= @user.country_name %></strong><br>
            Speaks <strong><%= @user.language_expanded %></strong>
            </p>
            <p>
              <% if logged_in? %>

                <% if @user.eql?(current_user) %>
                  <%= link_to 'Edit', account_path, class: 'btn btn-outline-secondary btn-sm' %>
                <% else %>
                  <% if current_user.likes?(@user) %>
                    <%= link_to(like_user_path(@user), remote: true, method: :delete, class: 'btn btn-outline-pink', data: { toggle: :like } ) do %>
                      <i class="icon ion-close"></i> Unlike
                    <% end %>
                  <% else %>
                    <%= link_to('Like', like_user_path(@user), remote: true, method: :post, class: 'btn btn-pink', data: { toggle: :like } ) %>
                  <% end %>

                  <%= link_to messages_path, class: 'btn btn-outline-secondary', data: { toggle: :modal, target: '#message-modal' } do %>
                    <i class="icon ion-android-chat"></i> Message
                  <% end %>
                  <%= render partial: 'users/message_modal' %>
                <% end %>

              <% else %>
                <%= link_to 'Sign up', signup_path, class: 'btn btn-success' %>
                <%= link_to 'Login', login_path, class: 'btn btn-outline-secondary', data: { toggle: :modal, target: '#login-modal' } %>
              <% end %>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
