<% if !@user.has_active_photos? %>
  <% if @user.eql?(current_user) %>
    <div class="alert alert-info">
      <%= link_to "Add a photo now", photos_path, class: "alert-link" %> to greatly increase your chances of being noticed by others.
    </div>
  <% end %>

<% elsif @user.display_photos_to?(current_user) == false %>
  <div class="alert alert-info">
    <% if @user.photo_visibility.eql?('restricted') %>
      Only members whom <%= @user.male? ? 'he' : 'she' %> likes can view <%= @user.male? ? 'his' : 'her' %> photos. <%= link_to('Send a message', '', { class: 'alert-link', data: { toggle: 'modal', target: '#message-modal' } }) %> to say hello.
    <% else %>
      Only Roozam members can view <%= @user.male? ? 'his' : 'her' %> photos.
      <%= link_to 'Join now', signup_path, { class: 'alert-link' } %> or
      <%= link_to 'log in', login_path, { class: 'alert-link', data: { toggle: 'modal', target: '#login-modal' } } %> to see their photos.
    <% end %>
  </div>
<% else %>
<% end %>
