<% if !@user.has_active_photos? %>


<% elsif @user.display_photos_to?(current_user) == false %>
  <div class="alert alert-info">
    <% if @user.photo_visibility.eql?('restricted') %>
      Only members whom <%= @user.male? ? 'he' : 'she' %> likes can view <%= @user.male? ? 'his' : 'her' %> photos. <%= link_to('Send a message', '', { class: 'alert-link', data: { toggle: 'modal', target: '#message-modal' } }) %> to say hello.
    <% else %>
      Only Spouzz members can view <%= @user.male? ? 'his' : 'her' %> photos.
      <%= link_to 'Join now', signup_path, { class: 'alert-link' } %> or
      <%= link_to 'log in', login_path, { class: 'alert-link', data: { toggle: 'modal', target: '#login-modal' } } %> to see their photos.
    <% end %>
  </div>
<% else %>
<% end %>

<dl class="row">
  <dt class="col-1"><%= image_tag('description.svg', style: "vertical-align:top") %></dt>
  <dd class="col-11"><%= @user.gender_expanded.humanize %>, <%= @user.age %> <span class="text-muted">years</span>, <%= metric_height(@user.height) %> <span class="text-muted">tall</span>, <%= @user.status.humanize %></dd>

  <dt class="col-1"><%= image_tag('public.svg', style: "vertical-align:top") %></dt>
  <dd class="col-11">
    <%= @user.religion.humanize %>
    <% if @user.sect_long_form.present? %>
    (<%= @user.sect_long_form %>)
    <% end %>,
    <span class="text-muted">Speaks</span> <%= @user.language_expanded %>, <span class="text-muted">Lives in <%= @user.country_name.downcase.starts_with?('united') ? 'the': '' %></span> <%= @user.country_name %>
  </dd>
  <dt class="col-1"><%= image_tag('work.svg', style: "vertical-align:top") %></dt>
  <dd class="col-11">
    <% if @user.income.present? %>
    <span class="text-muted">Earns</span>
      <%= content_tag(:abbr, title: @user.iso_country.currency.name, style: "text-decoration: none") do %>
      <%= Money.from_amount(@user.income, @user.iso_country.currency.iso_code).format(symbol_before_without_space: false) %>
      <% end %>
    <% else %>

    <% end %>
  </dd>
</dl>
