<div class="form-group">
  <%= f.label :gender, class: show_label ? '' : "sr-only" %>
  <%= f.select :gender, [["I'm a man", 'm'], ["I'm a woman", 'f']], {prompt: "What's your gender?"}, { class: 'form-control', required: true } %>
  <small class="text-danger form-text"></small>
</div>
<div class="form-group">
  <%= f.label :birthdate, 'Birthday' %>
  <% if browser.platform.android? || browser.platform.ios? %>
    <%= f.date_field :birthdate, class: 'form-control', value: f.object.birthdate.presence || 21.years.ago.end_of_year.to_date, max: 17.years.ago, min: 60.years.ago, required: true %>
  <% else %>
  <div class="row">
    <%= f.date_select :birthdate, { use_short_month: true, start_year: 60.years.ago.year, end_year: 17.years.ago.year, prompt: { day: 'Day', month: 'Month', year: 'Year' }, order: [:month, :day, :year]}, { class: 'form-control', required: true } %>
    <script>$('select[name*=birthdate]').wrap('<div class="col">');</script>
  </div>
  <% end %>
  <small class="text-danger form-text"></small>
  <small class="form-text text-muted">Women should be 18 years old and men must be 21.</small>
</div>
<div class="form-group">
  <%= f.label :status, "Marital status", class: show_label ? '' : "sr-only" %>
  <%= f.select :status, User.statuses.map{ |status, _| [status.humanize, status] }, {prompt: "What's your status?"}, { class: 'form-control', required: true } %>
  <small class="text-danger form-text"></small>
</div>
<div class="form-group">
  <%= f.label :height, class: show_label ? '' : "sr-only" %>
  <%= f.select :height,  (48..84).map { |height_in_inches| [metric_height(height_in_inches), height_in_inches] }, { prompt: 'How tall are you?' }, { class: 'form-control', required: true } %>
  <small class="text-danger form-text"></small>
  <small class="text-success form-text"></small>
</div>
<div class="form-group">
  <%= f.label :religion, class: show_label ? '' : "sr-only" %>
  <%= f.select :religion,  User.religions.map{ |religion, _| [religion.humanize, religion] }, { prompt: 'Religion' }, { class: 'form-control', required: true } %>
  <small class="text-danger form-text"></small>
</div>
<% show_caste = f.object.religion.eql?('hindu') %>
<div class="form-group" id="caste-selection-container" style="<%= show_caste ? '' : 'display:none;' %>">
  <%= f.label :sect, 'Select your caste' %>
  <%= f.select :sect, CASTES.map { |caste| [caste[:name], caste[:code]] }, {}, { class: 'form-control', disabled: !show_caste } %>
</div>
<div class="form-group">
  <%= f.label :language, 'Mother tongue', class: show_label ? '' : "sr-only" %>
  <%= f.select :language, LanguageList::POPULAR_LANGUAGES.map { |l| [l.common_name || l.name, l.iso_639_3] }, { prompt: 'Mother tongue' } , { class: 'form-control', required: true } %>
  <small class="text-danger form-text"></small>
</div>
<div class="form-group">
  <%= f.label :country, 'Where do you live?', class: show_label ? '' : "sr-only" %>
  <%= f.select :country, ISO3166::Country.with_indian_population.map { |country| [country.name, country.alpha2] } ,{ prompt: 'Where do you live?' } , { class: 'form-control', required: true } %>
  <small class="text-danger form-text"></small>
</div>
