<div class="form-group">
  <%= f.label :gender, class: show_label ? '' : "sr-only" %>
  <%= f.select :gender, [["I'm a man", 'm'], ["I'm a woman", 'f']], {prompt: 'Gender'}, { class: 'form-control', required: true } %>
  <small class="text-danger"></small>
</div>
<div class="form-group">
  <%= f.label :birthdate, 'Birthday' %>
  <% if browser.platform.android? || browser.platform.ios? %>
    <%= f.date_field :birthdate, class: 'form-control', value: 21.years.ago.to_date, max: 18.years.ago, min: 60.years.ago, required: true %>
  <% else %>
  <div class="row">
    <%= f.date_select :birthdate, { use_short_month: true, start_year: 60.years.ago.year, end_year: 17.years.ago.year, prompt: { day: 'Day', month: 'Month', year: 'Year' }, order: [:month, :day, :year]}, { class: 'form-control form-control p-l-0 p-r-0', required: true } %>
    <script>$('select[name*=birthdate]').wrap('<div class="col-xs-4">');</script>
  </div>
  <% end %>
  <small class="text-danger"></small>
  <small class="form-text text-muted d-block">Women should be 18 years old and men must be 21. It's the law.</small>
</div>
<div class="form-group">
  <%= f.label :religion, class: show_label ? '' : "sr-only" %>
  <%= f.select :religion,  User.religions.map{ |religion, _| [religion.humanize, religion] }, { prompt: 'Religion' }, { class: 'form-control', required: true } %>
  <small class="text-danger"></small>
</div>
<div class="form-group">
  <%= f.label :language, 'Mother tongue', class: show_label ? '' : "sr-only" %>
  <%= f.select :language, LanguageList::POPULAR_LANGUAGES.map { |l| [l.common_name || l.name, l.iso_639_3] }, { prompt: 'Mother tongue' } , { class: 'form-control', required: true } %>
  <small class="text-danger"></small>
</div>
<div class="form-group">
  <%= f.label :country, 'Where do you live?', class: show_label ? '' : "sr-only" %>
  <%= f.country_select :country, { prompt: 'Where do you live?' } , { class: 'form-control', required: true } %>
  <small class="text-danger"></small>
</div>
