<div class="jumbotron jumbotron-fluid py-3" style="background-color: #0288D1 !important;">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-md-3 text-center">
        <%= image_tag @user.display_picture_for(current_user), { class: 'rounded-circle img-fluid', style: "border: 5px solid #fff; max-height: 250px;" } %>
      </div>

      <div class="col-md-5 text-center text-md-left" style="color:#fff;">
        <p class="h3 no-focus"><%= @user.username %></p>
        <p class="lead">
          <%= @user.gender_expanded.humanize %>, <%= @user.age %> <span class="no-focus">years,</span> <%= metric_height(@user.height) %>, <%= @user.status.humanize %><br>
          <%= @user.religion.humanize %>
          <% if @user.sect_long_form.present? %>
          (<%= @user.sect_long_form %>)
          <% end %>
          <br>
          <span class="no-focus">Speaks</span> <%= @user.language_expanded %> <br>
          <span class="no-focus">Lives in <%= @user.country_name.downcase.starts_with?('united') ? 'the': '' %> </span><%= @user.country_name %>
        </p>
      </div>

      <div class="col-md-4">
        <%= render partial: 'users/profile_banner/buttons' %>
      </div>

    </div>
  </div>
</div>
