<div class="jumbotron jumbotron-fluid p-y-1 bg-primary" style="background-color: #0288D1 !important;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-lg-3 col-md-4 text-xs-center">
            <%= image_tag @user.display_picture_for(current_user), { class: 'img-circle img-fluid d-inline-block', style: "border: 5px solid #fff; max-height: 250px;" } %>
          </div>
          <div class="col-lg-5 col-md-5 text-md-left text-xs-center profile-detail-centered p-y-1">
            <h2 class="h4" style="color:rgba(255, 255, 255, 0.8);"><%= @user.username %></h1>
            <p>
              <%= @user.gender_expanded.humanize %>, <%= @user.age %> years old, <%= metric_height(@user.height) %> tall<br>
              <%= @user.religion.humanize %><br>
              Mother tongue is <%= @user.language_expanded %> <br>
              Lives in <%= @user.country_name.downcase.starts_with?('united') ? 'the': '' %> <%= @user.country_name %>
            </p>
          </div>
          <div class="col-lg-4 col-md-3 profile-detail-centered text-md-left text-xs-center">
            <p>
              <% if logged_in? %>
                <% if current_user == @user %>
                  <%= link_to 'Edit profile', profile_settings_path, class: 'btn btn-lg btn-block btn-outline-secondary' %>
                <% else %>
                  <% if current_user.likes?(@user) %>
                    <%= link_to('Unlike', like_user_path(@user), remote: true, method: :delete, class: 'btn btn-lg btn-block btn-warning user-like-btn') %>
                  <% else %>
                    <%= link_to('Like', like_user_path(@user), remote: true, method: :post, class: 'btn btn-lg btn-block btn-warning user-like-btn') %>
                  <% end %>
                  <%= link_to('', { class: 'btn btn-lg btn-block btn-primary', data: { toggle: 'modal', target: '#message-modal' } }) do %>
                  Message
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to('Join now', signup_path, { class: 'btn btn-lg btn-block btn-success' }) %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
