<div class="jumbotron jumbotron-fluid p-y-3" style="background-color:#f6fbff;box-shadow:0 4px 2px -2px rgba(0,0,0,.05);">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row">
          <div class="col-md-4 push-md-8">
            <%= image_tag @user.display_picture_for(current_user), { class: 'img-circle img-fluid m-x-auto', id: 'display-picture' } %>
          </div>
          <div class="col-md-8 pull-md-4 text-md-left text-xs-center p-t-1">
            <h2 class="h3"><%= @user.username %></h1>
            <p class="lead">
              <%= @user.age %> <span class="text-muted">year old</span> <%= @user.religion.humanize %> <%= @user.gender_expanded %><br>
              <span class="text-muted">Mother tongue is</span> <%= @user.language_expanded %> <br>
              <span class="text-muted">Lives in <%= @user.country_name.downcase.starts_with?('united') ? 'the': '' %></span> <%= @user.country_name %>
            </p>
            <p>
              <% if logged_in? %>
                <% if current_user == @user %>
                  <%= link_to 'Edit profile', profile_settings_path, class: 'btn btn-primary btn-lg' %>
                <% else %>
                  <% if current_user.likes?(@user) %>
                    <%= link_to('Unlike', like_user_path(@user), remote: true, method: :delete, class: 'btn btn-lg btn-outline-accent user-like-btn') %>
                  <% else %>
                    <%= link_to('Like', like_user_path(@user), remote: true, method: :post, class: 'btn btn-lg btn-accent user-like-btn') %>
                  <% end %>
                  <%= link_to('', { class: 'btn btn-lg btn-outline-primary', data: { toggle: 'modal', target: '#message-modal' } }) do %>
                  Message
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to('Join now', signup_path, { class: 'btn btn-lg btn-primary' }) %>
                <%= link_to('Log in', login_path, { class: 'btn btn-lg btn-outline-primary', data: { toggle: 'modal', target: '#login-modal' } }) %>
              <% end %>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
