<div class="jumbotron jumbotron-fluid p-y-2" id="profile-page-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="row">
          <div class="col-md-4 push-md-8">
            <%= image_tag @user.display_picture_for(current_user), { class: 'img-circle img-fluid m-x-auto', id: 'display-picture' } %>
          </div>
          <div class="col-md-8 pull-md-4 text-md-left text-xs-center p-t-1">
            <h2 class="h3"><%= @user.username %></h1>
            <p class="lead">
              <%= @user.age %> <span class="text-muted">year old</span> <%= @user.religion.humanize %> <%= @user.gender_expanded %><br>
              <span class="text-muted">Mother tongue is</span> <%= @user.language_expanded %> <br>
              <span class="text-muted">Lives in <%= @user.country_name.downcase.starts_with?('united') ? 'the': '' %></span> <%= @user.country_name %>
            </p>
            <p>
              <a href="#" class="btn btn-accent btn-lg"><i class="fa fa-star-o"></i> Like</a> <a href="#" class="btn btn-outline-primary btn-lg"><i class="fa fa-ellipsis-h"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
