<div class="modal fade" id="report-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Report user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(Report.new) do |f| %>
          <fieldset class="form-group">
            <legend>Reason</legend>
            <% Report.reasons.keys.each_with_index do |reason, index| %>
              <div class="form-check">
                <label class="form-check-label">
                  <%= f.radio_button :reason, reason, class: "form-check-input", checked: (index == 0) %> <%= reason.humanize %>
                </label>
              </div>
            <% end %>
          </fieldset>

          <%= f.hidden_field :reported_id, value: @user.id %>

          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_area :description, class: "form-control", rows: 5, maxlength: 500, placeholder: "Additional details (optional)" %>
          </div>

          <div class="form-group text-right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <%= f.submit "Report this profile", class: 'btn btn-danger', data: { confirm: "Are you sure?", disable_with: "Reporting" } %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
