<%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label :gender, "Gender" %>
    <%= f.select :gender, [["I'm male", 'm'], ["I'm female", 'f']], {prompt: 'I am…'}, { class: 'form-control', required: true } %>
    <small class="text-danger"></small>
  </div>
  <div class="form-group">
    <%= f.label :birthdate, 'Birthday' %>
    <% if false && browser.device.mobile? %>
      <%= f.date_field :birthdate, class: 'form-control', max: 18.years.ago, min: 60.years.ago, required: true %>
      <small class="text-danger"></small>
    <% else %>
    <div class="row">
      <%= f.date_select :birthdate, { use_short_month: true, start_year: 60.years.ago.year, end_year: 17.years.ago.year, prompt: { day: 'Day', month: 'Month', year: 'Year' }, order: [:month, :day, :year]}, { class: 'form-control form-control p-l-0 p-r-0', required: true } %>
    </div>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :religion %>
    <%= f.select :religion,  User.religions.map{ |religion, value| [religion.humanize, value] }, { prompt: '—' }, { class: 'form-control', required: true } %>
    <small class="text-danger"></small>
  </div>
  <div class="form-group">
    <%= f.label :language, 'Mother tongue' %>
    <%= f.select :language, LanguageList::COMMON_LANGUAGES.map { |l| [l.common_name || l.name, l.iso_639_3] }, { prompt: '—' } , { class: 'form-control', required: true } %>
    <small class="text-danger"></small>
  </div>
  <div class="form-group">
    <%= f.label :country, 'Location' %>
    <%= f.country_select :country, {prompt: 'I live in…' } , { class: 'form-control', required: true } %>
    <small class="text-danger"></small>
  </div>
  <div class="form-group">
    <%= f.label :email, 'Your current email address' %>
    <%= f.email_field :email , { class: 'form-control', required: true } %>
    <small class="text-danger"></small>
  </div>
  <div class="form-group">
    <%= f.label :password, 'Create a password' %>
    <%= f.password_field :password , { class: 'form-control', pattern: ".{8,}", placeholder:'Needs to be at least 8 characters', title: 'Password needs to be at least 8 characters', required: true } %>
    <small class="text-danger"></small>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">Create your account</button>
  </div>
<% end %>
