<% provide(:title, 'Join Now') %>
<section>
  <div class="container-fluid">
    <div class="row" style="min-height:100vh">
      <div class="col-12 col-lg-6 bg-white d-flex align-items-center justify-content-lg-center">
        <div class="row">
          <div class="col">
            <p class="text-left">
              <%=link_to root_path do %>
                <%= image_tag 'logo.png', height: 40, class: 'my-3 my-lg-0' %>
              <% end %>
            </p>
            <p class="h1">Let's get started</p>
            <ul class="lead text-secondary list-unstyled d-none d-lg-block">
              <li><i class="icon ion-checkmark-circled text-success"></i> Send and receive unlimited messages for free.</li>
              <li><i class="icon ion-checkmark-circled text-success"></i> Express interest to potential matches.</li>
              <li><i class="icon ion-checkmark-circled text-success"></i> View member-exclusive photos and albums.</li>
              <li><i class="icon ion-checkmark-circled text-success"></i> <span class="border-bottom">No credit card or payment required.</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 bg-light d-flex align-items-center justify-content-center">
        <div class="row justify-content-center">
          <div class="col-12 py-2">
            <p class="h5 text-center mb-3 text-muted">Join now</p>

            <% if @user.errors.any? %>
              <div class="alert alert-danger">
                <ul class="mb-0">
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
            <% end %>

            <%= render partial: 'users/signup_form' %>

            <div class="my-3 text-center">
              <small>
                Already have an account? <%= link_to 'Log in', login_path,  data: { toggle: 'modal', target: '#login-modal' } %>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
