<% provide(:title, @user.username) %>


<%= render partial: 'shared/main_nav' %>
<%= render partial: 'users/welcome_modal' if (@user.eql?(current_user) && params[:welcome] == "true") %>

<%= render partial: 'users/banner' %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-7">
      <%= render partial: 'users/about' %>
      <%= render partial: 'users/occupation' %>
      <%= render partial: 'users/preference' %>
    </div>
    <div class="col-12 col-lg-4">
      <%= render partial: 'users/photos' %>
    </div>
  </div>

</div>
