<% provide(:title, @user.username) %>


<%= render partial: 'shared/main_nav' %>
<%= render partial: 'users/profile_banner' %>
<%= render partial: 'users/message_modal' if logged_in? %>
<div class="container">
  <div class="row">
    <div class="col-lg-5 push-lg-7">
      <%= render partial: 'users/photos_card' %>
    </div>
    <div class="col-lg-7 pull-lg-5">
      <%= render partial: 'users/profile_about' %>
      <%= render partial: 'users/profile_occupation' %>
    </div>
  </div>
</div>
