<style media="screen">
  body {
    padding-top: 3.5rem !important;
  }
</style>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <%= link_to logged_in? ? user_path(current_user) : root_path, { class: 'navbar-brand h1 pb-0 text-hide' } do %>
    <%= image_tag 'logo.png', height: 20 %>
    Spouzz
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <% if logged_in? %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to search_path, { class: 'nav-link' } do %>
              <i class="icon ion-search"></i> Browse
            <% end %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'My profile', user_path(current_user), { class: 'dropdown-item' } %>
              <%= link_to 'Messages', messages_path, { class: 'dropdown-item' } %>
              <%= link_to 'Likes', likes_path, { class: 'dropdown-item' } %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Settings', email_settings_path, { class: 'dropdown-item' } %>
              <%= link_to 'Log out', logout_path, { class: 'dropdown-item', method: :delete } %>
            </div>
            </div>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to 'Sign up', signup_path, { class: 'nav-link' } %>
          </li>
          <li class="nav-item">
            <%= link_to 'Log in', login_path, { class: 'nav-link', data: { toggle: 'modal', target: '#login-modal' } } %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
