<div class="container">
  <nav class="navbar navbar-light navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to logged_in? ? user_path(current_user) : root_path, { class: 'navbar-brand ' } do %>
      <%= image_tag 'logo.svg', height: 30, title: "Home", alt: "Home" %> Roozam
    <% end %>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <% if logged_in? %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to search_path, { class: 'nav-link' } do %>
              <%= image_tag 'search.svg', height: 30 %>
              Search
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to likes_me_path, { class: 'nav-link' } do %>
            <%= image_tag 'like.svg', height: 30 %>
            Likes
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to messages_path, { class: 'nav-link' } do %>
              <%= image_tag 'message.svg', height: 30 %>
              Messages
              <%= notification_counter(current_user.received_messages.unread.count) %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to favorites_path, { class: 'nav-link' } do %>
              <%= image_tag 'favorites.svg', height: 30 %>
              Favorites
            <% end %>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to 'Profile', user_path(current_user), { class: 'dropdown-item' } %>
              <%= link_to 'Settings', account_settings_path, { class: 'dropdown-item' } %>
              <%= link_to 'Log out', logout_path, { class: 'dropdown-item', method: :delete } %>
            </div>
            </div>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to 'Log in', login_path, { class: 'nav-link', data: { toggle: 'modal', target: '#login-modal' } } %>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
</div>
