<nav class="navbar navbar-full navbar-light">
  <div class="container">
    <%= link_to logged_in? ? me_path : root_path, { class: 'navbar-brand font-weight-bold text-muted' } do %>
    <%= image_tag 'logo.svg', width: 30, title: 'Roozam logo', class: 'd-inline' %> Roozam
    <% end %>
    <% if logged_in? %>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <%= link_to search_path, { class: 'nav-link', title: "Browse matches", data: { toggle: "tooltip", placement: "bottom" } } do %>
            <%= image_tag 'search.svg', width: 30 %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to likes_me_path, { class: 'nav-link', title: "Likes", data: { toggle: "tooltip", placement: "bottom" } } do %>
            <%= image_tag 'like.svg', width: 30 %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to messages_path, { class: 'nav-link', title: "Messages", data: { toggle: "tooltip", placement: "bottom" } } do %>
            <%= image_tag 'message.svg', width: 30 %>
          <% end %>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <%= image_tag 'more.svg', title: 'Settings', alt: 'Settings', width: 30, id: 'profile-dropdown', class: 'nav-link dropdown-toggle', data: { toggle: "dropdown" } %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-dropdown">
              <%= link_to 'My profile', user_path(current_user), { class: 'dropdown-item' } %>
              <%= link_to 'Settings', profile_settings_path, { class: 'dropdown-item' } %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Log out', logout_path, { class: 'dropdown-item', method: :delete } %>
            </div>
          </div>
        </li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <%= link_to 'Log in', login_path, { class: 'nav-link', data: { toggle: 'modal', target: '#login-modal' } } %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
