<div class="row">
  <div class="col">
    <%= form_for(current_user, url: me_path) do |f| %>
      <div class="form-group">
        <%= f.label :password, 'New password' %>
        <%= f.password_field :password, { class: 'form-control', required: true, placeholder: 'Enter new password'} %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, 'Re-enter password' %>
        <%= f.password_field :password_confirmation, { class: 'form-control', required: true, placeholder: 'Re-enter new password'} %>
      </div>
      <div class="form-group">
        <%= f.submit 'Change my password', { data: { disable_with: 'Updating…' }, class: 'btn btn-sm btn-secondary' } %>
      </div>
    <% end %>
  </div>
</div>
