<% provide(:title, "Account settings") %>

<%= render partial: 'shared/main_nav' %>
<nav class="bg-primary primary-breadcrumb-container">
  <div class="container">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><%= link_to 'My profile', current_user %></li>
      <li class="breadcrumb-item active">Account Settings</li>
    </ol>
  </div>
</nav>

<section class="bg-white py-5 mb-3">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="h2">Account Settings</h1>
      </div>
    </div>
  </div>
</section>

<div class="container mt-4">

  <div class="row">
    <div class="col-md-6 justify-content-center">
      <% if current_user.errors.any? %>
        <div class="alert alert-danger">
          <ul class="mb-0">
          <% current_user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <% if flash[:success].present? %>
        <div class="alert alert-success">
          <%= flash.success %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= render partial: 'settings/email' %>
      <hr>
      <%= render partial: 'settings/password' %>
      <hr>
      <%= render partial: 'settings/privacy' %>
      <hr>
      <%= render partial: 'settings/deactivate' %>
    </div>
  </div>
</div>
