<% if logged_in? %>

  <% if is_me?(@user) %>
    <%= link_to @user.active_photos.any? ? 'Manage photos' : 'Add a photo', photos_path, class: 'btn btn-lg btn-warning btn-block' %>
    <%= link_to 'Edit profile', edit_profile_path, class: 'btn btn-lg btn-block btn-outline-secondary' %>
  <% else %>
    <% if current_user.likes?(@user) %>
      <%= link_to('Unlike', like_user_path(@user), remote: true, method: :delete, class: 'btn btn-lg btn-block btn-warning', data: { component: 'likeButton' }) %>
    <% else %>
      <%= link_to('Like', like_user_path(@user), remote: true, method: :post, class: 'btn btn-lg btn-block btn-warning', data: { component: 'likeButton' }) %>
    <% end %>


    <div class="btn-group btn-block">
      <%= link_to('Message', '', { class: 'btn btn-secondary btn-lg btn-block', data: { toggle: 'modal', target: '#message-modal' } }) %>
      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <% if current_user.bookmarked?(@user) %>
          <%= link_to('Remove from favorites', favorite_user_path(@user), remote: true, method: :delete, class: 'dropdown-item', data: { component: 'favoriteLink' }) %>
        <% else %>
          <%= link_to('Add to favorites', favorite_user_path(@user), remote: true, method: :post, class: 'dropdown-item', data: { component: 'favoriteLink' }) %>
        <% end %>
        <%= link_to('Report user', '', { class: 'dropdown-item', data: { toggle: 'modal', target: '#report-modal' } }) %>
      </div>
    </div>

  <% end %>

<% else %>
  <%= link_to('Sign up for free', signup_path, { class: 'btn btn-lg btn-block btn-warning' }) %>
<% end %>
