<li class="list-group-item">
  <div class="media align-items-center">
    <%= link_to active_interest.liked do %>
      <%= image_tag display_picture_for(active_interest.liked, current_user), { class: 'rounded-circle img-fluid align-self-center mr-3', style: "width: 4rem;" } %>
    <% end %>
    <div class="media-body">
      <div class="d-flex justify-content-between align-items-center">
        <p class="mb-0">
          <%= active_interest.liked.username %><br>
          <small class="text-muted"><%= time_ago_in_words(active_interest.created_at) %> ago</small>
        </p>
        <div>
          <p class="mb-0">
            <%= link_to(like_user_path(active_interest.liked), remote: true, method: :delete, class: 'btn btn-outline-pink btn-sm', data: { toggle: :like } ) do %>
              <i class="icon ion-close"></i> Unlike
            <% end %>
          </p>

        </div>
      </div>
    </div>
  </div>
</li>
