<% if @user.photos.blank? %>


<% elsif @user.display_photos_to?(current_user) == false %>
  <div class="alert alert-info">
    <% if @user.photo_visibility.eql?('restricted') %>
      Only members whom <%= @user.male? ? 'he' : 'she' %> likes can view <%= @user.male? ? 'his' : 'her' %> photos.
      <% if logged_in? %>
        <%= link_to('Send a message', '', { class: 'alert-link', data: { toggle: 'modal', target: '#message-modal' } }) %>
      <% else %>
        <%= link_to 'Join now', signup_path, { class: 'alert-link' } %> or
        <%= link_to 'log in', login_path, { class: 'alert-link', data: { toggle: 'modal', target: '#login-modal' } } %>
      <% end %>
      to say hello.
    <% else %>
      Only Spouzz members can view <%= @user.male? ? 'his' : 'her' %> photos.
      <%= link_to 'Join now', signup_path, { class: 'alert-link' } %> or
      <%= link_to 'log in', login_path, { class: 'alert-link', data: { toggle: 'modal', target: '#login-modal' } } %> to see their photos.
    <% end %>
  </div>
<% else %>
<% end %>

<dl class="row">
  <dt class="col-1"><%= image_tag('description.svg', style: "vertical-align:top") %></dt>
  <dd class="col-11"><strong><%= @user.gender_expanded.humanize %></strong>, <strong><%= @user.age %></strong> <span class="text-muted">years</span>, <strong><%= metric_height(@user.height) %></strong> <span class="text-muted">tall</span>, <strong><%= @user.status.humanize %></strong></dd>

  <dt class="col-1"><%= image_tag('public.svg', style: "vertical-align:top") %></dt>
  <dd class="col-11">
    <strong>
    <%= @user.religion.humanize %>
    <% if @user.sect_long_form.present? %>
    (<%= @user.sect_long_form %>)
    <% end %>
  </strong>,
    <span class="text-muted">Speaks</span> <strong><%= @user.language_expanded %></strong>, <span class="text-muted">Lives in <%= @user.country_name.downcase.starts_with?('united') ? 'the': '' %></span> <strong><%= @user.country_name %></strong>
  </dd>
  <% if is_me?(@user) || @user.income.present? %>
    <dt class="col-1"><%= image_tag('work.svg', style: "vertical-align:top") %></dt>
    <dd class="col-11">
      <% if @user.income.present? %>
      <span class="text-muted">Earns</span>
        <%= content_tag(:span, title: @user.iso_country.currency.name, data: { toggle: "tooltip", placement: "bottom" }) do %>
        <strong><%= Money.from_amount(@user.income, @user.iso_country.currency.iso_code).format(symbol_before_without_space: false) %></strong>
        <% end %>
        <span class="text-muted">a year</span>
      <% else %>
        <%= link_to "What's your annual income?", edit_profile_path, data: { toggle: 'modal', target: '#income-modal' } %>
        <%= render partial: 'users/income_modal' %>
      <% end %>
    </dd>
  <% end %>
</dl>
