<% provide(:title, 'Home') %>
<%= render partial: 'shared/main_nav' %>

<style>
.list-group-item {
  border: 0;
}

</style>

<%
has_photos            = current_user.photos.any?
has_description       = current_user.profile.about.present?
finished_onboarding   = has_photos && has_description
%>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <% if params[:new_user] == "true" && !finished_onboarding %>
        <h1 class="h2 m-t-2">You're in! Welcome to Roozam.</h1>
        <h2 class="h4 thin">Complete your profile in 2 easy steps.</h2>
      <% else %>

        <% if finished_onboarding %>
          <h2 class="h3 m-t-2 thin">What do you feel like doing today?</h2>
        <% else %>
          <h2 class="h3 m-t-2 thin">
            <% if !has_description && !has_photos %>
            Complete your profile in 2 easy steps.
            <% elsif !has_description %>
            Say something about yourself to complete your profile.
            <% else %>
            Add some photos to complete your profile.
            <% end %>
          </h2>
        <% end %>

      <% end %>

      <div class="list-group">
        <% unless finished_onboarding %>
          <a href="/photos" class="list-group-item list-group-item-action p-y-2 p-x-1 m-y-1">
            <div class="row">
              <div class="col-xs-3 col-md-2">
                <%= image_tag has_photos ? 'tick.svg' : 'camera.svg', class: 'img-fluid' %>
              </div>
              <div class="col-xs-9 col-md-10">
                <p class="list-group-item-heading text-primary h4">Add some photos</p>
                <p class="list-group-item-text hidden-xs-down">Everyone wants to know what you look like.</p>
              </div>
            </div>
          </a>
          <%= link_to user_path(current_user), class: 'list-group-item list-group-item-action p-y-2 p-x-1 m-y-1' do %>
            <div class="row">
              <div class="col-xs-3 col-md-2">
                <%= image_tag has_description ? 'tick.svg' : 'fill.svg', class: 'img-fluid' %>
              </div>
              <div class="col-xs-9 col-md-10">
                <p class="list-group-item-heading text-primary h4">Say something about yourself</p>
                <p class="list-group-item-text hidden-xs-down">Tell everyone a little about yourself and what you do. Keep 'em short and sweet.</p>
              </div>
            </div>
          <% end %>
        <% end %>

        <% if finished_onboarding %>

          <%= link_to search_path, class: 'list-group-item list-group-item-action p-y-2 p-x-1 m-y-1' do %>
            <div class="row">
              <div class="col-xs-3 col-md-2">
                <%= image_tag 'search.svg', class: 'img-fluid' %>
              </div>
              <div class="col-xs-9 col-md-10">
                <p class="list-group-item-heading text-primary h4">Browse profiles</p>
                <p class="list-group-item-text hidden-xs-down">Find your perfect match.</p>
              </div>
            </div>
          <% end %>

          <%= link_to user_path(current_user), class: 'list-group-item list-group-item-action p-y-2 p-x-1 m-y-1' do %>
            <div class="row">
              <div class="col-xs-3 col-md-2">
                <%= image_tag 'profile.svg', class: 'img-fluid' %>
              </div>
              <div class="col-xs-9 col-md-10">
                <p class="list-group-item-heading text-primary h4">View your profile</p>
                <p class="list-group-item-text hidden-xs-down">Because you're awesome!</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>

    <div class="col-lg-4">

    </div>
  </div>
</div>
<!--small class="form-text text-muted d-block">Take a minute to increase your chances of standing out by telling <%= current_user.male? ? 'women' : 'your matches' %> a little about yourself.</small-->
