<%= form_for(Photo.new, data: {
  crop_width: browser.device.mobile? ? 250 : 550,
  form_data: @s3_direct_post.fields,
  url: @s3_direct_post.url,
  host: URI.parse(@s3_direct_post.url).host
  }) do |f| %>

  <%= f.label :image, { id: 'photo-upload-file', class: 'btn btn-lg btn-success' } do %>
  Add photo
  <% end %>
  <%= f.file_field :image, { accept: 'image/*', capture: "camera" , style: "text-indent: -999em; width:1px; position: absolute; height:1px; opacity: 0" }%>
  <%= f.hidden_field :remote_image_url %>
  <%= f.hidden_field :image_x %>
  <%= f.hidden_field :image_y %>
  <%= f.hidden_field :image_width %>
  <br />
  <%= link_to 'Edit visibility', account_settings_path, data: { toggle: 'modal', target: '#privacy-modal' } %>
<% end %>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" id="s3-upload-progress" role="progressbar" style="width: 0%;display:none"></div>
</div>

<p class="text-muted" id="progress-text" style="display:none">Saving…</p>

<div class="modal" id="photo-crop-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title h5">Drag the square around your face</p>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-9 col-md-12" style="border-right: 1px dashed #ccc">
              <img id="photo-crop-canvas" />
            </div>
            <div class="col-3 hidden-md-down text-center">
              <div style="width:150px; height:150px; overflow:hidden; border-radius: 50%;" class="mx-auto mt-1 mb-1">
                <img id="photo-crop-preview" />
              </div>
              <small class="text-muted">Preview</small>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <%= button_tag 'Save Photo', class: 'btn btn-lg btn-primary', disable_with: 'Uploading…' %>
      </div>
    </div>
  </div>
</div>
