<div class="mb-5 pb-5">
  <div class="text-center">
    <%= image_tag photo.image_url(:large), class: 'rounded img-fluid', id: "photo-image-#{photo.id}" , alt: photo.caption, title: photo.caption %>
  </div>
  <div class="mt-2">
    <%= content_tag :div, id: "photo-meta-container-#{photo.id}" do %>
      <%= content_tag :div, data: { component: "photo-caption-container", photo_id: photo.id }, class: "float-left text-muted", style: "cursor: pointer;" do %>
        <%= photo_caption_for(photo) %>
      <% end %>
      <div class="float-right"><%= link_to "Delete", photo, method: :delete, class: 'text-danger', data: { confirm: 'Are you sure?' } %></div>
    <% end %>
    <%= form_for photo, html: { class: 'd-none' } do |f| %>
      <div class="form-group">
        <%= f.text_area :caption, rows: 3, maxlength: 140, class: 'form-control', placeholder: "Describe this photo" %>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <%= button_tag "Cancel", type: "button", data: { component: 'photo-caption-cancel', photo_id: photo.id }, class: 'btn btn-light' %>
    <% end %>
  </div>
</div>
