<% provide(:title, 'My photos') %>
<%= render partial: 'shared/main_nav' %>

<div class="jumbotron jumbotron-fluid text-xs-center m-b-0 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="thin">Photos of me</h1>
      </div>
    </div>
  </div>
</div>

<section class="container m-t-2">
  <% if flash.notice.present? %>
  <div class="row">
    <div class="offset-md-4 col-md-4">
      <div class="alert alert-info text-xs-center">
        <%= flash.notice %> <%= link_to 'GO TO PROFILE', user_path(current_user), class: 'alert-link' %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="row">
    <% if @photos.empty? %>
    <div class="col-xs-12">
      <div class="card card-block card-outline-secondary text-muted" style="border-style:dashed">
        <div class="text-xs-center p-y-3">
          <p>
          You haven't added any photos.<br>
          <small class="m-b-1 d-block">
            Most <%= current_user.male? ? 'men' : 'women' %> on Roozam have a photo.
            Adding a photo greatly increases your chances of being contacted by <%= current_user.female? ? 'a match' : 'women' %>.
          </small>
        </p>
          <%= render partial: 'photos/photo_form' %>
        </div>
      </div>
    </div>
    <% else %>


      <div class="col-lg-7 p-a-1">
        <div class="row">
          <% @photos.ranked.each do |photo| %>
            <%= render partial: 'photos/photo', locals: { photo: photo } %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-5 p-t-1">
        <div class="row">
          <div class="col-xs-12 text-xs-center">
            <%= render partial: 'photos/photo_form' %>
            <small class="text-muted">
              <% if current_user.photo_visibility == 'everyone' %>
                Everyone can see your photos
              <% elsif current_user.photo_visibility == 'members_only' %>
                Only Roozam members can see your photos
              <% else %>
                Only people you like can see your photos
              <% end %>
              &mdash; <%= link_to 'Edit', privacy_settings_path, data: { toggle: 'modal', target: '#privacy-modal' } %>
            </small>
          </div>
        </div>
      </div>

      <%= content_for :javascripts do %>
      <script>
      $('[data-toggle="swipebox"]').click(function () {
        $.swipebox(
          <%= @photos.ranked.collect { |p| { href: p.image.url } }.to_json.html_safe %>, {
            useCSS : true,
            useSVG : false,
            initialIndexOnArray : parseInt($(this).data('rank'), 10) - 1,
            removeBarsOnMobile : true,
            hideCloseButtonOnMobile : false
          }
        );
      });
      </script>
      <% end %>
      <%= render partial: 'photos/privacy_modal' %>
    <% end %>
  </div>
</section>
