<% provide(:title, 'My photos') %>
<%= render partial: 'shared/main_nav' %>

<div class="jumbotron jumbotron-fluid text-xs-center m-b-0 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="thin">Photos of me</h1>
      </div>
    </div>
  </div>
</div>

<section class="container m-t-2">
  <% if flash.notice.present? %>
  <div class="row">
    <div class="offset-md-4 col-md-4">
      <div class="alert alert-info text-xs-center">
        <%= flash.notice %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="row">
    <% if @photos.empty? %>
    <div class="col-xs-12">
      <div class="card card-block card-outline-secondary text-muted" style="border-style:dashed">
        <div class="text-xs-center p-y-3">
          <%= render partial: 'photos/photo_form' %>
        </div>
      </div>
    </div>
    <% else %>


      <div class="col-lg-7 p-a-1">
        <div class="row">
          <% @photos.each do |photo| %>
            <%= render partial: 'photos/photo', locals: { photo: photo } %>
          <% end %>
        </div>
      </div>
      <div class="col-lg-5 p-t-1">
        <div class="row">
          <div class="col-xs-12 text-xs-center">
            <%= render partial: 'photos/photo_form' %>
          </div>
        </div>
      </div>

      <%= content_for :javascripts do %>
      <script>
      $('[data-toggle="swipebox"]').swipebox({
        useCSS : true,
        useSVG : false,
        removeBarsOnMobile : true,
      });
      </script>
      <% end %>
    <% end %>
  </div>
</section>
<%= render partial: 'photos/privacy_modal' %>
