<% provide(:title, 'My photos') %>
<%= render partial: 'shared/main_nav' %>

<div class="jumbotron jumbotron-fluid bg-primary" style="color:#fff">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="jumbotron-heading">Photos of me</h1>
      </div>
    </div>
  </div>
</div>

<section class="container">

  <% if flash.notice.present? %>
    <div class="row">
      <div class="offset-md-4 col-md-4">
        <div class="alert alert-info text-center">
          <%= flash.notice %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-5 push-lg-7 mb-5 pt-1">
      <div class="row">
        <div class="col-12 text-center">
          <%= render partial: 'photos/photo_form' %>
        </div>
      </div>
    </div>

    <% if @photos.empty? %>

      <div class="col-lg-7 pull-lg-5">
        <div class="rounded p-5 text-center text-muted" style="border: 2px dashed #ccc">
          <p class="m-5">Spice up your profile with some photos.</p>
        </div>
      </div>

    <% else %>

      <div class="col-lg-7 pull-lg-5 p-1">
        <div class="row">
          <% @photos.each do |photo| %>
            <%= render partial: 'photos/photo', locals: { photo: photo } %>
          <% end %>
        </div>
      </div>

      <%= content_for :javascripts do %>
      <script>
      $('[data-toggle="swipebox"]').swipebox({
        useCSS : true,
        useSVG : false,
        removeBarsOnMobile : true,
      });
      </script>
      <% end %>

    <% end %>

  </div>
</section>
<%= render partial: 'photos/privacy_modal' %>
