<% provide(:title, 'Photo album') %>
<%= render partial: 'shared/main_nav' %>

<nav class="bg-primary primary-breadcrumb-container">
  <div class="container">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><%= link_to 'My profile', current_user %></li>
      <li class="breadcrumb-item active">Photo album</li>
    </ol>
  </div>
</nav>


<section class="container my-5">

  <% if flash.notice.present? %>
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <div class="alert alert-info text-center">
          <%= flash.notice %>
        </div>
      </div>
    </div>
  <% end %>

    <% if @photos.empty? %>
      <div class="row justify-content-center">
        <div class="col col-md-6 col-lg-5">
          <div class="card text-center">
            <div class="card-body p-5">
              <i class="icon ion-images display-4 text-muted"></i>
              <h1 class="h5">Album is empty</h1>
              <p>Spice up your profile with some photos.</p>
              <%= link_to 'javascript:void(0)', class: 'btn btn-success', id: 'add-a-photo' do %>
                <i class="icon ion-camera"></i> Add photo
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-lg-5 order-lg-2 mb-5 pt-1">
          <div class="row">
            <div class="col-12 text-center">
              <%= link_to 'javascript:void(0)', class: 'btn btn-lg btn-success', id: 'add-a-photo' do %>
                <i class="icon ion-camera"></i> Add photo
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-lg-7 order-lg-1">
          <%= render partial: 'photos/photo', collection: @photos %>
        </div>
        
      </div>
    <% end %>
</section>

<%= form_for@photo do |f| %>
  <%= f.hidden_field :image, value: @photo.cached_image_data %>
<% end %>
