<%= form_for(@photo, url: onboarding_photo_path) do |f| %>
  <label class="custom-file" id="photo-upload-file">
    <%= f.file_field :image, accept: 'image/*', class: "custom-file-input", capture: "camera" %>
    <span class="custom-file-control"></span>
  </label>
  <%= f.hidden_field :image_x %>
  <%= f.hidden_field :image_y %>
  <%= f.hidden_field :image_width %>
<% end %>

<div class="modal fade bd-example-modal-lg" id="photo-crop-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <p class="modal-title lead text-xs-center">Crop your face</p>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-9" style="border-right: 1px dashed #ccc">
              <img id="photo-crop-canvas" />
            </div>
            <div class="col-xs-3 text-xs-center">
              <div style="width:150px; height:150px; overflow:hidden; border-radius: 50%;" class="m-x-auto m-t-1 m-b-1">
                <img id="photo-crop-preview" />
              </div>
              <small class="text-muted">Preview</small>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer text-xs-center">
        <button type="button" class="btn btn-lg btn-primary">Save photo</button>
      </div>
    </div>
  </div>
</div>
