<% provide(:title, 'Introduce yourself') %>
<section class="container-fluid">
  <div class="row p-a-1">
    <div class="col-sm-3 col-6">
      <p>One last step</p>
    </div>
    <div class="col-sm-6 hidden-xs-down">
      <p class="lead text-center">Spice up your profile with a brief description.</p>
    </div>
    <div class="col-sm-3 col-6">
      <%= link_to 'Skip ➔', me_path, { class: 'pull-xs-right' } %>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="card card-block">
        <%= form_for(@profile, url: onboarding_about_path) do |f| %>
        <div class="form-group">
          <%= f.label :about, 'About me', { class: 'col-form-label col-form-label-lg' } %>
          <%= f.text_area :about, { rows: 7, autofocus: true, maxlength: 1500, class: 'form-control form-control-lg', placeholder: 'How would your family describe you?', required: true } %>
        </div>
        <div class="form-group">
          <small class="pull-xs-left text-muted">This will be public</small><%= f.submit 'Done', { class: 'btn btn-primary btn-lg pull-xs-right' } %>
        </div>
        <% if @profile.errors.any? %>
          <div class="alert alert-danger">
            <ul>
            <% @profile.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
