<% provide(:title, 'Introduce yourself') %>
<section class="container-fluid">
  <div class="row p-a-1">
    <div class="col-sm-3 col-xs-6">
      <p>Step 1 of 2</p>
    </div>
    <div class="col-sm-6 hidden-xs-down">
      <p class="lead text-xs-center">Spice up your profile with a brief description.</p>
    </div>
    <div class="col-sm-3 col-xs-6">
      <%= link_to 'Skip ➔', onboarding_photo_path, { class: 'pull-xs-right' } %>
    </div>
  </div>
</section>
<section class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <div class="card card-block">
        <%= form_for(@profile, url: onboarding_about_path) do |f| %>
        <div class="form-group">
          <%= f.label :about, 'About me', { class: 'col-form-label col-form-label-lg' } %>
          <%= f.text_area :about, { rows: 7, autofocus: true, maxlength: 1500, class: 'form-control form-control-lg', placeholder: 'How would your family describe you?' } %>
        </div>
        <div class="form-group">
          <small class="pull-xs-left text-success"><span id="about-character-count">0</span> characters</small><%= f.submit 'Done', { class: 'btn btn-primary btn-lg pull-xs-right' } %>
        </div>
        <% if @profile.errors.any? %>
          <div class="alert alert-danger">
            <ul>
            <% @profile.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= content_for(:page_css) do %>
<style media="screen">
body {
  background-color: #fafafa;
}
</style>
<% end %>

<%= content_for(:page_javascripts) do %>
<script type="text/javascript">
  $(function() {
    var $count      = $('#about-character-count'),
        $aboutInput = $('#profile_about');
    $count.text($aboutInput.val().length);

    $aboutInput.keyup(function(e) {
      $count.text($aboutInput.val().length);
    });
  });
</script>
<% end %>
