<% provide(:title, 'Add a photo') %>
<section class="container-fluid">
  <div class="row p-a-1">
    <div class="col-sm-3 col-xs-6">
      <p>Step 1 of 2</p>
    </div>
    <div class="col-sm-6 hidden-xs-down">
      <p class="lead text-center">
        <% if current_user.profile_photo.present? %>
          You look fantastic.
        <% else %>
          <% if current_user.male? %>
          Want women to notice you? Add a photo.
          <% else %>
          Want to be noticed? Add a photo.
          <% end %>
        <% end %>
      </p>
    </div>
    <div class="col-sm-3 col-xs-6">
      <% if current_user.profile_photo.nil? %>
        <%= link_to 'Skip ➔', onboarding_about_path, { class: 'pull-xs-right' } %>
      <% end %>
    </div>
  </div>
</section>
<section class="container">

  <% if current_user.profile_photo.nil? %>
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <div class="card card-block">
          <%= render "onboarding/photo_form" %>
          <small class="text-muted form-text">
            Most <%= current_user.male? ? 'men' : 'women' %> on Roozam have a photo. Adding a profile photo
            greatly increases your chances of being contacted by <%= current_user.female? ? 'a match' : 'women' %>.
          </small>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-12 col-md-4 offset-md-4">

      <% if current_user.errors.any? %>
        <div class="alert alert-danger">
          The form contains <%= pluralize(@user.errors.count, "error") %>.
          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <% if flash[:notice].present? %>
        <div class="alert alert-success">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <div class="card card-block text-center">
        <%= image_tag(current_user.display_thumbnail(:thumb), { class: "img-circle d-block m-x-auto", width: 180, height: 180 }) %>
        <strong class="d-block m-t-2" data-toggle="tooltip" data-placement="top" title="We create a username for you when you sign up. You can change it later."><%= current_user.username %></strong>
        <span class="text-muted"><%= "#{current_user.age} • #{current_user.religion.humanize} • #{current_user.country_alpha3}" %></span>
      </div>
    </div>
  </div>

  <% if current_user.profile_photo.present? %>
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">

        <div class="card card-block p-a-1 text-center">
          <small>Who can see your photos?</small>
          <div class="dropdown d-inline">
            <a class="btn btn-link btn-sm dropdown-toggle" href="#" data-toggle="dropdown">
              <% if current_user.everyone? %>
                <i class="fa fa-globe"></i> Public
              <% elsif current_user.members_only? %>
                <i class="fa fa-user"></i> Members only
              <% else %>
                <i class="fa fa-lock"></i> Restricted
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <h6 class="dropdown-header">Photo visibility</h6>

              <%= link_to '/onboarding/photo-visibility/everyone', { class: 'dropdown-item', data: { method: :patch } } do %>
                <small><i class="fa fa-globe"></i> Public</small>
              <% end %>

              <%= link_to '/onboarding/photo-visibility/members_only', { class: 'dropdown-item', data: { method: :patch } } do %>
                <small><i class="fa fa-user"></i> Members only</small>
              <% end %>

              <%= link_to '/onboarding/photo-visibility/restricted', { class: 'dropdown-item', data: { method: :patch } } do %>
                <small><i class="fa fa-lock"></i> Restricted</small>
              <% end %>

            </div>
          </div>
          <% if current_user.restricted? %>
            <small class="text-muted d-block"><span class="text-warning">Warning: </span>Only people you Like can see your photos. This greatly reduces your chances of being noticed when people search for profiles. We recommend another visibility setting.</small>
          <% elsif current_user.members_only? %>
            <small class="text-muted d-block">Only Roozam members can see your photos.</small>
          <% else %>
            <small class="text-muted d-block">Anyone on or off Roozam can see your photos. This is recommended for more likes.</small>
          <% end %>

        </div>

        <% if current_user.profile_photo.present? %>
          <%= render "onboarding/photo_form" %>
        <% end %>
        <p class="lead text-center">or</p>
        <%= link_to "Take me to the final step ➔", onboarding_about_path, { class: 'btn btn-outline-primary btn-block' } %>
      </div>
    </div>
  <% end %>
</section>
