<%= form_for(current_user.profile, url: profile_path, remote: true, data: { user_id: current_user.id }) do |f| %>
  <div class="alert alert-danger edit_errors" style="display:none">
  </div>
  <div class="alert alert-success edit_success" style="display:none">
    Updated. Go to your <%= link_to 'profile', user_path(current_user) %>
  </div>
  <div class="form-group">
    <%= f.label :occupation, 'What do you do?', class: "sr-only" %>
    <%= f.text_area :occupation, { class: 'form-control form-control-lg', placeholder: "What do you do everyday?", rows: 7} %>
  </div>
  <div class="form-group text-right">
    <%= f.submit 'Update', { data: { disable_with: 'Updating…' }, class: 'btn btn-success btn-lg' } %>
  </div>
<% end %>
