<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= full_title(yield(:title)) %></title>
  <%= render partial: 'shared/localstorage_support' %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://jcrop-cdn.tapmodo.com/v0.9.12/css/jquery.Jcrop.min.css">
  <link rel="icon"
      type="image/png"
      href="<%= image_path('roozam-favicon.png') %>" >

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<%= render partial: 'shared/login_modal' unless (logged_in? || params[:controller] == "sessions") %>
<%#= render partial: 'shared/footer' %>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'http://jcrop-cdn.tapmodo.com/v0.9.12/js/jquery.Jcrop.min.js' %>
<%= yield :javascripts %>
</body>
</html>
